# ============================================
# SimpleXL defaults
# ============================================

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3

# FreeRTOS Timer Service task stack (Tmr Svc)
# Fix stack overflow when sx_audio_power timer callback runs
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096

# Board configuration - hai-os-simplexl
CONFIG_BOARD_TYPE_HAI_OS_SIMPLEXL=y

# LCD configuration
CONFIG_LCD_ST7796_320X480=y
CONFIG_HAI_LCD_PIN_MOSI=47
CONFIG_HAI_LCD_PIN_CLK=21
CONFIG_HAI_LCD_PIN_CS=41
CONFIG_HAI_LCD_PIN_DC=40
CONFIG_HAI_LCD_PIN_RST=45
CONFIG_HAI_LCD_PIN_BK_LIGHT=42

# Touch configuration
CONFIG_HAI_TOUCH_ENABLE=y
CONFIG_HAI_TOUCH_PIN_SDA=8
CONFIG_HAI_TOUCH_PIN_SCL=11
CONFIG_HAI_TOUCH_PIN_RST=9
CONFIG_HAI_TOUCH_PIN_INT=13
